body {
    
    background-color: rgb(255, 255, 255);
    color: rgb(6, 63, 102);
    font-family: 'Comfortaa', cursive;
    font-size: 22px;
}

.reverse {
    background-color: rgb(43, 109, 170) !important;
    color: rgb(255, 217, 0);
}
p {
    padding: 1px;
}